*{padding: 0px; margin: 0px;font-family: Arial, Helvetica, sans-serif; }

.wapper {
    width: 960px;
    height: 100%;
    /* background: white; */
    margin: auto;
}
#header {
    width: 100%;
    height: 180px;
    background-image: url(img/header.jpg);
    
    position: relative;
}
#header h1 {
    color: white;
    font-size: 60px;
    position: absolute;
    top: 30px;
    left: 250px;
}
#header p {
    color: white;
    position: absolute;
    bottom: 0px;
    right: 20px;
    font-size: 14px;
    line-height: 70px;
}
#menu ul {
    position: absolute;
    bottom: 0px;
}
#menu  ul  li { width: 100px; float: left; background: white; list-style: none; margin-right: 3px; text-align: center; line-height: 50px; }
#menu li a {color: black; text-decoration: none;}
#menu li ul { width: 100px ;height: 123px; position: absolute; list-style-type: none; display: none; top: 50px;}
#menu li li a { color: white;text-decoration: none ;}
#menu li li { line-height: 40px; margin-bottom: 1px; background: #333; margin-left: 0px ; position:relative;}
#menu li:hover ul {display: block;}


/* xong Phần đầu  */


#container{
    width: 100%;
    min-height: 900px;
    background: #D6D6D6;
    padding-top: 20px;
    font-size: 12px;
}
#container .wapper {
    width: 960px;
    height: 1000px;
    background: white;
}
#container #left {
    padding: 20px;
    width: 620px;
    float: left;
}

#container #left #success {
    padding: 5px 10px;
    border: 1px solid #bfe6b9 ;
    background: #e4ffe0;
    color: #1d6017;
    font-weight: bold;
    margin-bottom: 20px;
    height: 25px;
}
#container #left #failure {
    padding: 5px 10px;
    border: 1px solid #d6a6b4 ;
    background: #ffe3e7;
    color: #96433b;
    font-weight: bold;
    margin-bottom: 20px;
    height: 25px;
}
.close {
    float: right;
}


#container #right {
    padding: 20px;
    width: 220px;
    min-height: 400px;
    float: right;
}
#container #right #lorem {
    width: 200px;
    min-height: 25px;
    padding: 10px;
    background: #deebfe;
    font-weight: bold;
}
.folder {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    line-height: 25px;
}
#right img {
    width: 30px;
    height: 28px;
    float: left;
    margin: 5px 10px;
}
#right a {
    font-size: 15px;
}
#last {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 25px;
}

#footer{
    width: 100%;
    height: 65px;
    background: url(img/footer.jpg);
}